[
  { rabbitmq_web_mqtt,       [ { port,         3002 }]},
  { rabbit,                  [
    { loopback_users, [] },
    { auth_backends,  [ rabbit_auth_backend_jwt, rabbit_auth_backend_internal ]}
  ]},

  { rabbit_auth_backend_jwt, [
    {farmbot_api_key_url, "http://192.168.29.165:3000/api/public_key"}
  ]}
].
