[
	{ rabbit, [
		{ loopback_users, [  ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, false },
    { auth_backends, [rabbit_auth_backend_jwt]}
	] },

	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] },

  {rabbitmq_web_mqtt, [{port, 3002}]},

  {rabbit_auth_backend_jwt, [
    {farmbot_api_key_url, "http://192.168.1.121:3000/api/public_key"}
  ]}
].
