% Hello, world! wowowow!

[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, false },
    {auth_backends, [rabbit_auth_backend_http]}
	] },

	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] },

  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://172.17.0.1:2222/user"},
    {vhost_path,    "http://172.17.0.1:2222/vhost"},
    {resource_path, "http://172.17.0.1:2222/resource"},
    {topic_path,    "http://172.17.0.1:2222/topic"}]}
].
